[Desktop Entry]
Version=1.0
Name=Firefox Web Browser
Name[ar]=\u0645\u062a\u0635\u0641\u062d \u0627\u0644\u0648\u064a\u0628 \u0641\u064e\u064a\u064e\u0631\u0641\u064f\u0643\u0652\u0633
Name[ast]=Restolador web Firefox
Name[bn]=\u09ab\u09be\u09af\u09bc\u09be\u09b0\u09ab\u0995\u09cd\u09b8 \u0993\u09af\u09bc\u09c7\u09ac \u09ac\u09cd\u09b0\u09be\u0989\u099c\u09be\u09b0
Name[ca]=Navegador web Firefox
Name[cs]=Firefox Webový prohlí\u017ee\u010d
Name[da]=Firefox - internetbrowser
Name[el]=\u03a0\u03b5\u03c1\u03b9\u03b7\u03b3\u03b7\u03c4\u03ae\u03c2 Firefox
Name[es]=Navegador web Firefox
Name[et]=Firefoxi veebibrauser
Name[fa]=\u0645\u0631\u0648\u0631\u06af\u0631 \u0627\u06cc\u0646\u062a\u0631\u0646\u062a\u06cc Firefox
Name[fi]=Firefox-selain
Name[fr]=Navigateur Web Firefox
Name[gl]=Navegador web Firefox
Name[he]=\u05d3\u05e4\u05d3\u05e4\u05df \u05d4\u05d0\u05d9\u05e0\u05d8\u05e8\u05e0\u05d8 Firefox
Name[hr]=Firefox web preglednik
Name[hu]=Firefox webböngész\u0151
Name[it]=Firefox Browser Web
Name[ja]=Firefox \u30a6\u30a7\u30d6\u30fb\u30d6\u30e9\u30a6\u30b6
Name[ko]=Firefox \uc6f9 \ube0c\ub77c\uc6b0\uc800
Name[ku]=Geroka torê Firefox
Name[lt]=Firefox interneto nar\u0161ykl\u0117
Name[nb]=Firefox Nettleser
Name[nl]=Firefox webbrowser
Name[nn]=Firefox Nettlesar
Name[no]=Firefox Nettleser
Name[pl]=Przegl\u0105darka WWW Firefox
Name[pt]=Firefox Navegador Web
Name[pt_BR]=Navegador Web Firefox
Name[ro]=Firefox \u2013 Navigator Internet
Name[ru]=\u0412\u0435\u0431-\u0431\u0440\u0430\u0443\u0437\u0435\u0440 Firefox
Name[sk]=Firefox - internetový prehliada\u010d
Name[sl]=Firefox spletni brskalnik
Name[sv]=Firefox webbläsare
Name[tr]=Firefox Web Taray\u0131c\u0131s\u0131
Name[ug]=Firefox \u062a\u0648\u0631\u0643\u06c6\u0631\u06af\u06c8
Name[uk]=\u0412\u0435\u0431-\u0431\u0440\u0430\u0443\u0437\u0435\u0440 Firefox
Name[vi]=Trình duy\u1ec7t web Firefox
Name[zh_CN]=Firefox \u7f51\u7edc\u6d4f\u89c8\u5668
Name[zh_TW]=Firefox \u7db2\u8def\u700f\u89bd\u5668
Comment=Browse the World Wide Web
Comment[ar]=\u062a\u0635\u0641\u062d \u0627\u0644\u0634\u0628\u0643\u0629 \u0627\u0644\u0639\u0646\u0643\u0628\u0648\u062a\u064a\u0629 \u0627\u0644\u0639\u0627\u0644\u0645\u064a\u0629
Comment[ast]=Restola pela Rede
Comment[bn]=\u0987\u09a8\u09cd\u099f\u09be\u09b0\u09a8\u09c7\u099f \u09ac\u09cd\u09b0\u09be\u0989\u099c \u0995\u09b0\u09c1\u09a8
Comment[ca]=Navegueu per la web
Comment[cs]=Prohlí\u017eení stránek World Wide Webu
Comment[da]=Surf på internettet
Comment[de]=Im Internet surfen
Comment[el]=\u039c\u03c0\u03bf\u03c1\u03b5\u03af\u03c4\u03b5 \u03bd\u03b1 \u03c0\u03b5\u03c1\u03b9\u03b7\u03b3\u03b7\u03b8\u03b5\u03af\u03c4\u03b5 \u03c3\u03c4\u03bf \u03b4\u03b9\u03b1\u03b4\u03af\u03ba\u03c4\u03c5\u03bf (Web)
Comment[es]=Navegue por la web
Comment[et]=Lehitse veebi
Comment[fa]=\u0635\u0641\u062d\u0627\u062a \u0634\u0628\u06a9\u0647 \u062c\u0647\u0627\u0646\u06cc \u0627\u06cc\u0646\u062a\u0631\u0646\u062a \u0631\u0627 \u0645\u0631\u0648\u0631 \u0646\u0645\u0627\u06cc\u06cc\u062f
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Naviguer sur le Web
Comment[gl]=Navegar pola rede
Comment[he]=\u05d2\u05dc\u05d9\u05e9\u05d4 \u05d1\u05e8\u05d7\u05d1\u05d9 \u05d4\u05d0\u05d9\u05e0\u05d8\u05e8\u05e0\u05d8
Comment[hr]=Pretra\u017eite web
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=\u30a6\u30a7\u30d6\u3092\u95b2\u89a7\u3057\u307e\u3059
Comment[ko]=\uc6f9\uc744 \ub3cc\uc544 \ub2e4\ub2d9\ub2c8\ub2e4
Comment[ku]=Li torê bigere
Comment[lt]=Nar\u0161ykite internete
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przegl\u0105danie stron WWW 
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[ro]=Naviga\u021bi pe Internet
Comment[ru]=\u0414\u043e\u0441\u0442\u0443\u043f \u0432 \u0418\u043d\u0442\u0435\u0440\u043d\u0435\u0442
Comment[sk]=Prehliadanie internetu
Comment[sl]=Brskajte po spletu
Comment[sv]=Surfa på webben
Comment[tr]=\u0130nternet'te Gezinin
Comment[ug]=\u062f\u06c7\u0646\u064a\u0627\u062f\u0649\u0643\u0649 \u062a\u0648\u0631\u0628\u06d5\u062a\u0644\u06d5\u0631\u0646\u0649 \u0643\u06c6\u0631\u06af\u0649\u0644\u0649 \u0628\u0648\u0644\u0649\u062f\u06c7
Comment[uk]=\u041f\u0435\u0440\u0435\u0433\u043b\u044f\u0434 \u0441\u0442\u043e\u0440\u0456\u043d\u043e\u043a \u0406\u043d\u0442\u0435\u0440\u043d\u0435\u0442\u0443
Comment[vi]=\u0110\u1ec3 duy\u1ec7t các trang web
Comment[zh_CN]=\u6d4f\u89c8\u4e92\u8054\u7f51
Comment[zh_TW]=\u700f\u89bd\u7db2\u969b\u7db2\u8def
GenericName=Web Browser
GenericName[ar]=\u0645\u062a\u0635\u0641\u062d \u0648\u064a\u0628
GenericName[ast]=Restolador Web
GenericName[bn]=\u0993\u09af\u09bc\u09c7\u09ac \u09ac\u09cd\u09b0\u09be\u0989\u099c\u09be\u09b0
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlí\u017ee\u010d
GenericName[da]=Webbrowser
GenericName[el]=\u03a0\u03b5\u03c1\u03b9\u03b7\u03b3\u03b7\u03c4\u03ae\u03c2 \u03b4\u03b9\u03b1\u03b4\u03b9\u03ba\u03c4\u03cd\u03bf\u03c5
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[fa]=\u0645\u0631\u0648\u0631\u06af\u0631 \u0627\u06cc\u0646\u062a\u0631\u0646\u062a\u06cc
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[gl]=Navegador Web
GenericName[he]=\u05d3\u05e4\u05d3\u05e4\u05df \u05d0\u05d9\u05e0\u05d8\u05e8\u05e0\u05d8
GenericName[hr]=Web preglednik
GenericName[hu]=Webböngész\u0151
GenericName[it]=Browser web
GenericName[ja]=\u30a6\u30a7\u30d6\u30fb\u30d6\u30e9\u30a6\u30b6
GenericName[ko]=\uc6f9 \ube0c\ub77c\uc6b0\uc800
GenericName[ku]=Geroka torê
GenericName[lt]=Interneto nar\u0161ykl\u0117
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przegl\u0105darka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ro]=Navigator Internet
GenericName[ru]=\u0412\u0435\u0431-\u0431\u0440\u0430\u0443\u0437\u0435\u0440
GenericName[sk]=Internetový prehliada\u010d
GenericName[sl]=Spletni brskalnik
GenericName[sv]=Webbläsare
GenericName[tr]=Web Taray\u0131c\u0131
GenericName[ug]=\u062a\u0648\u0631\u0643\u06c6\u0631\u06af\u06c8
GenericName[uk]=\u0412\u0435\u0431-\u0431\u0440\u0430\u0443\u0437\u0435\u0440
GenericName[vi]=Trình duy\u1ec7t Web
GenericName[zh_CN]=\u7f51\u7edc\u6d4f\u89c8\u5668
GenericName[zh_TW]=\u7db2\u8def\u700f\u89bd\u5668
Keywords=Internet;WWW;Browser;Web;Explorer
Keywords[ar]=\u0627\u0646\u062a\u0631\u0646\u062a;\u0625\u0646\u062a\u0631\u0646\u062a;\u0645\u062a\u0635\u0641\u062d;\u0648\u064a\u0628;\u0648\u0628
Keywords[ast]=Internet;WWW;Restolador;Web;Esplorador
Keywords[ca]=Internet;WWW;Navegador;Web;Explorador;Explorer
Keywords[cs]=Internet;WWW;Prohlí\u017ee\u010d;Web;Explorer
Keywords[da]=Internet;Internettet;WWW;Browser;Browse;Web;Surf;Nettet
Keywords[de]=Internet;WWW;Browser;Web;Explorer;Webseite;Site;surfen;online;browsen
Keywords[el]=Internet;WWW;Browser;Web;Explorer;\u0394\u03b9\u03b1\u03b4\u03af\u03ba\u03c4\u03c5\u03bf;\u03a0\u03b5\u03c1\u03b9\u03b7\u03b3\u03b7\u03c4\u03ae\u03c2;Firefox;\u03a6\u03b9\u03c1\u03b5\u03c6\u03bf\u03c7;\u0399\u03bd\u03c4\u03b5\u03c1\u03bd\u03b5\u03c4
Keywords[es]=Explorador;Internet;WWW
Keywords[fi]=Internet;WWW;Browser;Web;Explorer;selain;Internet-selain;internetselain;verkkoselain;netti;surffaa
Keywords[fr]=Internet;WWW;Browser;Web;Explorer;Fureteur;Surfer;Navigateur
Keywords[he]=\u05d3\u05e4\u05d3\u05e4\u05df;\u05d0\u05d9\u05e0\u05d8\u05e8\u05e0\u05d8;\u05e8\u05e9\u05ea;\u05d0\u05ea\u05e8\u05d9\u05dd;\u05d0\u05ea\u05e8;\u05e4\u05d9\u05d9\u05e8\u05e4\u05d5\u05e7\u05e1;\u05de\u05d5\u05d6\u05d9\u05dc\u05d4;
Keywords[hr]=Internet;WWW;preglednik;Web
Keywords[hu]=Internet;WWW;Böngész\u0151;Web;Háló;Net;Explorer
Keywords[it]=Internet;WWW;Browser;Web;Navigatore
Keywords[is]=Internet;WWW;Vafri;Vefur;Netvafri;Flakk
Keywords[ja]=Internet;WWW;Web;\u30a4\u30f3\u30bf\u30fc\u30cd\u30c3\u30c8;\u30d6\u30e9\u30a6\u30b6;\u30a6\u30a7\u30d6;\u30a8\u30af\u30b9\u30d7\u30ed\u30fc\u30e9
Keywords[nb]=Internett;WWW;Nettleser;Explorer;Web;Browser;Nettside
Keywords[nl]=Internet;WWW;Browser;Web;Explorer;Verkenner;Website;Surfen;Online 
Keywords[pt]=Internet;WWW;Browser;Web;Explorador;Navegador
Keywords[pt_BR]=Internet;WWW;Browser;Web;Explorador;Navegador
Keywords[ru]=Internet;WWW;Browser;Web;Explorer;\u0438\u043d\u0442\u0435\u0440\u043d\u0435\u0442;\u0431\u0440\u0430\u0443\u0437\u0435\u0440;\u0432\u0435\u0431;\u0444\u0430\u0439\u0440\u0444\u043e\u043a\u0441;\u043e\u0433\u043d\u0435\u043b\u0438\u0441
Keywords[sk]=Internet;WWW;Prehliada\u010d;Web;Explorer
Keywords[sl]=Internet;WWW;Browser;Web;Explorer;Brskalnik;Splet
Keywords[tr]=\u0130nternet;WWW;Taray\u0131c\u0131;Web;Gezgin;Web sitesi;Site;sörf;çevrimiçi;tara
Keywords[uk]=Internet;WWW;Browser;Web;Explorer;\u0406\u043d\u0442\u0435\u0440\u043d\u0435\u0442;\u043c\u0435\u0440\u0435\u0436\u0430;\u043f\u0435\u0440\u0435\u0433\u043b\u044f\u0434\u0430\u0447;\u043e\u0433\u043b\u044f\u0434\u0430\u0447;\u0431\u0440\u0430\u0443\u0437\u0435\u0440;\u0432\u0435\u0431;\u0444\u0430\u0439\u0440\u0444\u043e\u043a\u0441;\u0432\u043e\u0433\u043d\u0435\u043b\u0438\u0441;\u043f\u0435\u0440\u0435\u0433\u043b\u044f\u0434
Keywords[vi]=Internet;WWW;Browser;Web;Explorer;Trình duy\u1ec7t;Trang web
Keywords[zh_CN]=Internet;WWW;Browser;Web;Explorer;\u7f51\u9875;\u6d4f\u89c8;\u4e0a\u7f51;\u706b\u72d0;Firefox;ff;\u4e92\u8054\u7f51;\u7f51\u7ad9;
Keywords[zh_TW]=Internet;WWW;Browser;Web;Explorer;\u7db2\u969b\u7db2\u8def;\u7db2\u8def;\u700f\u89bd\u5668;\u4e0a\u7db2;\u7db2\u9801;\u706b\u72d0
Exec=sudo -u ubuntu firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
StartupNotify=true
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=Open a New Window
Name[ar]=\u0627\u0641\u062a\u062d \u0646\u0627\u0641\u0630\u0629 \u062c\u062f\u064a\u062f\u0629
Name[ast]=Abrir una ventana nueva
Name[bn]=Abrir una ventana nueva
Name[ca]=Obre una finestra nova
Name[cs]=Otev\u0159ít nové okno
Name[da]=Åbn et nyt vindue
Name[de]=Ein neues Fenster öffnen
Name[el]=\u039d\u03ad\u03bf \u03c0\u03b1\u03c1\u03ac\u03b8\u03c5\u03c1\u03bf
Name[es]=Abrir una ventana nueva
Name[fi]=Avaa uusi ikkuna
Name[fr]=Ouvrir une nouvelle fenêtre
Name[gl]=Abrir unha nova xanela
Name[he]=\u05e4\u05ea\u05d9\u05d7\u05ea \u05d7\u05dc\u05d5\u05df \u05d7\u05d3\u05e9
Name[hr]=Otvori novi prozor
Name[hu]=Új ablak nyitása
Name[it]=Apri una nuova finestra
Name[ja]=\u65b0\u3057\u3044\u30a6\u30a3\u30f3\u30c9\u30a6\u3092\u958b\u304f
Name[ko]=\uc0c8 \ucc3d \uc5f4\uae30
Name[ku]=Paceyeke nû veke
Name[lt]=Atverti nauj\u0105 lang\u0105
Name[nb]=Åpne et nytt vindu
Name[nl]=Nieuw venster openen
Name[pt]=Abrir nova janela
Name[pt_BR]=Abrir nova janela
Name[ro]=Deschide o fereastr\u0103 nou\u0103
Name[ru]=\u041d\u043e\u0432\u043e\u0435 \u043e\u043a\u043d\u043e
Name[sk]=Otvori\u0165 nové okno
Name[sl]=Odpri novo okno
Name[sv]=Öppna ett nytt fönster
Name[tr]=Yeni pencere aç 
Name[ug]=\u064a\u06d0\u06ad\u0649 \u0643\u06c6\u0632\u0646\u06d5\u0643 \u0626\u06d0\u0686\u0649\u0634
Name[uk]=\u0412\u0456\u0434\u043a\u0440\u0438\u0442\u0438 \u043d\u043e\u0432\u0435 \u0432\u0456\u043a\u043d\u043e
Name[vi]=M\u1edf c\u1eeda s\u1ed5 m\u1edbi
Name[zh_CN]=\u65b0\u5efa\u7a97\u53e3
Name[zh_TW]=\u958b\u555f\u65b0\u8996\u7a97
Exec=firefox -new-window

[Desktop Action new-private-window]
Name=Open a New Private Window
Name[ar]=\u0627\u0641\u062a\u062d \u0646\u0627\u0641\u0630\u0629 \u062c\u062f\u064a\u062f\u0629 \u0644\u0644\u062a\u0635\u0641\u062d \u0627\u0644\u062e\u0627\u0635
Name[ca]=Obre una finestra nova en mode d'incògnit
Name[cs]=Otev\u0159ít nové anonymní okno
Name[de]=Ein neues privates Fenster öffnen
Name[el]=\u039d\u03ad\u03bf \u03b9\u03b4\u03b9\u03c9\u03c4\u03b9\u03ba\u03cc \u03c0\u03b1\u03c1\u03ac\u03b8\u03c5\u03c1\u03bf
Name[es]=Abrir una ventana privada nueva
Name[fi]=Avaa uusi yksityinen ikkuna
Name[fr]=Ouvrir une nouvelle fenêtre de navigation privée
Name[he]=\u05e4\u05ea\u05d9\u05d7\u05ea \u05d7\u05dc\u05d5\u05df \u05d2\u05dc\u05d9\u05e9\u05d4 \u05e4\u05e8\u05d8\u05d9\u05ea \u05d7\u05d3\u05e9
Name[hu]=Új privát ablak nyitása
Name[it]=Apri una nuova finestra anonima
Name[nb]=Åpne et nytt privat vindu
Name[ru]=\u041d\u043e\u0432\u043e\u0435 \u043f\u0440\u0438\u0432\u0430\u0442\u043d\u043e\u0435 \u043e\u043a\u043d\u043e
Name[sl]=Odpri novo okno zasebnega brskanja
Name[sv]=Öppna ett nytt privat fönster
Name[tr]=Yeni bir pencere aç
Name[uk]=\u0412\u0456\u0434\u043a\u0440\u0438\u0442\u0438 \u043d\u043e\u0432\u0435 \u0432\u0456\u043a\u043d\u043e \u0443 \u043f\u043e\u0442\u0430\u0439\u043b\u0438\u0432\u043e\u043c\u0443 \u0440\u0435\u0436\u0438\u043c\u0456
Name[zh_TW]=\u958b\u555f\u65b0\u96b1\u79c1\u700f\u89bd\u8996\u7a97
Exec=firefox -private-window
